name: From Html to Android App

on:
  push:
    branches:
      - '*'
      - '*/*'
      - '**'
      - '!master'
      - 'main'

jobs:
  init:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.0.0]
    steps:
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%dT%H-%M-%S')"

      - name: print date
        run: echo "${{ steps.date.outputs.date }}"

      - name: Clone project
        uses: actions/checkout@v1

      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: cache node modules
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Node ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install project dependencies
        run: npm install

      - name: Install globally Ionic CLI
        run: npm install -g @ionic/cli
      - name: Install globally Capacitor CLI
        run: npm install -g @capacitor/cli
      - name: Install cap android
        run: npm install @capacitor/android

    #   - name: Rebuilding the React project
        # run: npm run build


      - name: React build folder to Android sample project
        run: npx cap copy android

      - name: Icon part
        run: npm run resources

      - name: Root directory looks like
        run: ls -a && pwd

      - name: Gradle Build the APK as a JAR
        working-directory: ./android
        run: bash ./gradlew assembleDebug --stacktrace

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: ./android/app/build/outputs/apk/debug

      - name: Upload debug to Google Drive at folder 1fPCyBND_9TwxTvJTbpSe6b-HxGzuJWjE
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: Google Drive API token
          filename: ./android/app/build/outputs/apk/debug/app-debug.apk
          folderId: '1fPCyBND_9TwxTvJTbpSe6b-HxGzuJWjE'
          name: 'who-pays-version-${{ steps.date.outputs.date }}.apk'
          overwrite: true